<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jadwal Kuliah
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>Senin</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
  <ion-label>
    <h2>Praktikum PGPBL</h2>
    <p>Praktikum Pemrograman Geospasial Perangkat Bergerak Lanjut</p>
  </ion-label>
</ion-item>
<ion-item>
  <ion-label>
    <h2>Metopen</h2>
    <p>Metode Penelitian</p>
  </ion-label>
</ion-item>
    </div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>Selasa</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
  <ion-label>
    <h2>PPS</h2>
    <p>Pendidikan Pancasila</p>
  </ion-label>
</ion-item>
<ion-item>
  <ion-label>
    <h2>PAI</h2>
    <p>Pendidikan Agama Islam</p>
  </ion-label>
</ion-item>
    </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>Rabu</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
  <ion-label>
    <h2>IKK</h2>
    <p>Ide Kreatif dan Kewirausahaan</p>
  </ion-label>
</ion-item><ion-item>
  <ion-label>
    <h2>Praktikum SDGL</h2>
    <p>Praktikum Sains Data Geospasial Lanjut</p>
  </ion-label>
</ion-item>
    </div>
  </ion-accordion>
  <ion-accordion value="fourth">
    <ion-item slot="header" color="light">
      <ion-label>Kamis</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
  <ion-label>
    <h2>PKN</h2>
    <p>Pendidikan Kewarganegaraan</p>
  </ion-label>
</ion-item><ion-item>
  <ion-label>
    <h2>Praktikum SDA</h2>
    <p>Praktikum Aplikasi SIG untuk Sumber Daya Air</p>
  </ion-label>
</ion-item>
    </div>
  </ion-accordion>
  <ion-accordion value="fiveth">
    <ion-item slot="header" color="light">
      <ion-label>Jumat</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-item>
  <ion-label>
    <h2>PPK</h2>
    <p>Praktikum Aplikasi SIG untuk Pemetaan Pesisir dan Kelautan</p>
  </ion-label>
</ion-item><ion-item>
  <ion-label>
    <h2>MKW</h2>
    <p>Bahasa Indonesia</p>
  </ion-label>
</ion-item>
    </div>
  </ion-accordion>
</ion-accordion-group>
</ion-content>
