<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List Games
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
  <ion-item>
    <ion-label>Roblox</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Mobile Legend</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>PUBG</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Subway Surfers</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Candy Crush Saga</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Minecraft</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Happy Mall Story</ion-label>
  </ion-item>
</ion-list>
</ion-content>
