<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Components
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="true">
  <ion-button>Default</ion-button>
<ion-button color="primary">Primary</ion-button>
<ion-button color="secondary">Secondary</ion-button>
<ion-button color="tertiary">Tertiary</ion-button>
<ion-datetime></ion-datetime>

<ion-text color="secondary">
<h2>Input Components</h2>
</ion-text>
<ion-list>
<ion-list>
<ion-item>
<ion-input label="Text input" placeholder="Enter text"></ion-input>
</ion-item>
<ion-item>
<ion-input
label="Number input"
type="number"
placeholder="000"
></ion-input>
</ion-item>
<ion-item>
<ion-input
label="Password input"
type="password"
value="password"
></ion-input>
</ion-item>
<ion-item>
<ion-input
label="Email input"
type="email"
placeholder="email@domain.com"
></ion-input>
</ion-item>
<ion-item>
<ion-input
label="Telephone input"
type="tel"
placeholder="888-888-8888"
></ion-input>
</ion-item>
</ion-list>
</ion-list>
<ion-text color="secondary">
<h2>Action Sheet Components</h2>
</ion-text>
<ion-button id="open-action-sheet">Open</ion-button>
<ion-action-sheet
trigger="open-action-sheet"
header="Actions"
[buttons]="actionSheetButtons"
>
</ion-action-sheet>
<ion-card color="medium">
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content> Card Content </ion-card-content>
</ion-card>
</ion-content>
