.splash-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(199, 235, 251);
}

img {
  margin-bottom: 20px;
  width: 80px;
}

small {
  margin-top: 20px;
  color: gray;
}
